<template name="list_project">
				<h2>Projects</h2>
				<a href="/admin/Projects/add" class="btn btn-primary btn-tiny">Create Project</a>
				<br><br>
				<table class="table table-striped">
					<tr>
						<th>Project Name</th>
						<th>Date</th>
						<th>Type</th>
						<th></th>
					</tr>
					{{#each projects}}
					<tr>
						<td>{{name}}</td>
						<td>{{projectDate}}</td>
						<td>{{type}}</td>
						<td><a href="/admin/projects/{{_id}}/edit" class="btn btn-tiny btn-default">Edit</a><button class="btn btn-default delete_project">Delete</button> </td>
					</tr>
					{{else}}
					<tr>
						<td>There are no projects</td>
					</tr>
					{{/each}}
				</table>
</template>