 <template name="navbar">
      <header id="header">
      <a href="#" class="image avatar"><img src="{{getAdminImage}}" alt="" /></a>
          <a class="navbar_topic" href="{{pathFor 'home'}}">{{getBlogName}}</a>
          <ul class="nav navbar-nav navbar-left">
            <li><a href="{{pathFor 'work'}}">Work</a></li>
            <li><a href="{{pathFor 'about'}}">About</a></li>
            <li><a href="{{pathFor 'blog'}}">Blog</a></li>
            <li><a href="{{pathFor 'contact'}}">Contact</a></li>
            {{#if currentUser}}
              <li><a href="{{pathFor 'list_post'}}">Admin - Posts</a></li>
              <li><a href="{{pathFor 'list_project'}}">Admin - Projects</a></li>
            {{/if}}
          </ul>
      </header>
</template>